{% load static %}
<head>
    <link href="{% static 'unid/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
{% for info in posts %}
<hr>

                <div class="user">
                    <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                    <span class="writer">{{ info.user_id }}</span>
                    <span class="writing-time">{{info.created_at|timesince}}전</span>
                    <span class="contents-kind">{{ info.category }}</span>
                    </div>
                <div class="row">

                    <div class="main-col-md-3">
                       <a href="{% url 'main_detail' info.posts_id %}">
                            <img src="{% static 'unid/img/'%}{{info.file}}" width="200px" height="200px">
                        </a>
                    </div>
                <div class="col-md-5">

                    <div class="detail-content">
                        <h3><a href="localhost:8000/unid/main_detail">{{ info.title }}</a></h3>
                        <a href="main_detail?post={{info.id}}"><p>{{info.contents|truncatechars_html:190 }}</p></a></div>
                            <!--<a class="btn btn-primary" href="#">View Project</a>-->

                    <div>
                        <span class="main-voting" ><button class="votings" name="{{ info.posts_id }}" value="{{voting_count.votingcount }}"><i class="far fa-heart"></i></button><span class="voting-count" id="voting-{{info.posts_id}}">{{info.like_count}}</span></span>
                        <span class="main-voting">
                        <i class="fas fa-dollar-sign"></i><span class="rewards" id="reward-{{info.posts_id}}">{{info.rewards}}</span></span>
                        <span class="main-voting">
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}" border="0" width="20" height="20">4</span>

                    </div>



                </div>
                </div>
 {% endfor %}


<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    function votingCount(){
        today=new Date();
        c_hour = today.getHours();
        c_min = today.getMinutes();
        var voting_count = "";

        if (c_hour==00 && c_min == 00) {
            voting_count = "10";
        $.ajax ({
                    type: 'POST',
                    url: "../my_cron_job/",
                    data: {
                        voting_count: voting_count,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(res) {
                        alert(res.Ans);
                    }
         })
    }
    }
    setInterval("votingCount()", 60000);
jQuery(document).ready(function($){

    $('#nav1').addClass('visible-place');
    $(".votings").click(function() {
                var pk = $(this).attr('name');
                var like_count = parseInt($('#voting-' + pk).text());
                var rewards = parseFloat($('#reward-' + pk).text());
                var like_users = "{{request.session.user_email}}";
                var voting_count = parseInt($('#count').text());
                var votinged = "";


                if (!like_users) {
                    alert('로그인을 해주세요');
                }


                $.ajax ({
                    type: 'POST',
                    url: "../vote/",
                    data: {
                        posts_id: pk,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(res) {
                        alert(res.Ans);

                        if (res.Ans == "보팅을 취소했습니다.") {

                            if (voting_count >= 10) {
                                like_count = like_count - parseInt(1);
                                votinged = "좋아요취소";

                                $('#voting-' + pk).text(like_count);

                                if (like_count % 1 == 0) {
                                rewards = rewards - parseFloat(0.1);
                                }
                            rewards = rewards.toFixed(1);
                            $("#reward-" + pk).text(rewards);

                            } else {
                                like_count = like_count - parseInt(1);
                                voting_count = voting_count + parseInt(1);

                                votinged = "좋아요취소";


                                $('#voting-' + pk).text(like_count);

                                if (like_count % 1 == 0) {
                                    rewards = rewards - parseFloat(0.1);
                                    }
                                rewards = rewards.toFixed(1);
                                $("#reward-" + pk).text(rewards);
                                $("#count").text(voting_count);
                            }

                        } else if (res.Ans == "보팅을 완료했습니다.") {

                            like_count = like_count + parseInt(1);
                            voting_count = voting_count - parseInt(1);

                            votinged = "좋아요";

                            $('#voting-' + pk).text(like_count);

                            if (like_count % 1 == 0) {
                                rewards = rewards + parseFloat(0.1);
                            }
                            rewards = rewards.toFixed(1);
                            $("#reward-" + pk).text(rewards);
                            $("#count").text(voting_count);
                            }

                         else {
                            votinged = "카운팅소진";
                         }



                        $.ajax({
                            type: 'POST',
                            url: "../voting/",
                            data: {
                                posts_id: pk,
                                like_count: like_count,
                                rewards: rewards,
                                liked_users: like_users,
                                votinged: votinged,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(res) {

                            }
                        });

                    }
                });
            });
            });

</script>