body{
  background: #e0e0e0;
  }
  
  #myinfo{
  background: #e0e0e0;
  margin: 0 auto;
  width: 1200px;
  height: 1500px;
  margin-top: 30px;
  box-shadow: 0px 0px 20px 0px #888888;
  }
  
  #user_profile{
  list-style: none;
  }
  
  ul{
  list-style: none;
  padding-left:0px;
  
  }
  
  #user-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  font-size: small;
  }
  
  #user-info2{
  display: grid;
  grid-template-columns: 4fr 3fr;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top:10px;
  font-size: small;
  }
  
  #container{
  background: white;
  margin: 0 auto;
  width: 1100px;
  height:1000px;
  margin-top: 50px;
  box-shadow: 0px 0px 20px 0px #888888;
  }
  
  
  #tabs{
  margin-left:50px;
  margin-right:50px;
  padding-top:40px;
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom:5px;
  }
  
  
  
  #just-line{
  display: block;
  border-bottom: 2px solid #e0e0e0;
  margin: 0 auto;
  width:1100px;
  height:2 -P 60220px;
  }
  
  
  .contents-kind {
      margin: 10px auto 10px auto;
      width: 100px;
      background-color: red;
      color: white;
      border-radius:20px;
      backgraound-size: 100px;
      text-align: center;
      padding:2px;
      font-size:small;
  }
  
  #logo{
  margin: 0 auto;
  }
  
  #description{
  margin: bottom;
  }
  
  #logInLinks{
  display: block;
  margin: 0 auto;
  width: 80%
  }
  
  #signup{
  display: inline-block;
  }
  
  #text{
    width: 100%;
    height: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #submit{
    width: 100%;
    background-color: #ff6b70;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submit:hover {
    background-color: #45a049;
  }
  
  #text {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  form {
  
          margin: 0 auto;
  
          width:175px;
  
      }
  
  #myarticles{
      margin-left:50px;
  }
  
  
  #reply{
      margin-left:50px;
  }
  
  #uploads{
      margin-left:50px;
  }
  
  
  #downloads{
      margin-left:50px;
  }
  
  #myrewards{
      margin-left:50px;
  }
  
  
  #wallet{
      display: inline;
      width:100px;
      height:60px;
      float: right;
      margin-top: 10px;
      padding-left: 20px;
  }
  
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current{
    background: ;
    position: relative;
  }
  
  ul.tabs li.current:after{
    content: '';
    width: 79%;
    height: 0px;
    display: block;
    position: absolute;
    margin-top: 13px;
    margin-left: -5px;
    border-bottom: 5px solid #f00;
  }
  
  
  .tab-content{
    display: none;
    background: ;
    padding: 15px;
  }
  
  .tab-content.current{
    display: inherit;
  }
  